*{
    margin: 0;
    padding: 0;
}


body{
    background-color:whitesmoke;
    font-size: 15px;
    font-family: sans-serif;
    color: grey;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.nav-bar{
    display: block;
    margin-bottom: 15px 0;
    background-color: turquoise;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    border-radius: 3px;
}

.loggan{
    width: 80px;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
}

.nav-bar li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: white;
}

.nav-bar li a{
    padding: 15px 20px;
    font-size: 14px;
    color: white;
    display: inline-block;
    outline: 0;
    font-weight: 400;
}

.nav-bar li:hover ul.dropdown {
    display: block;
}

.nav-bar li ul.dropdown{
    position: absolute;
    display: none;
    width: 200px;
    background-color:darkcyan;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    padding-top: 0;
}

.nav-bar li ul.dropdown li{
    display: block;
    list-style-type: none;
}

.nav-bar li ul.dropdown li a{
    padding: 15px 20px;
    font-size: 15px;
    color:white;
}

.nav-bar li ul.dropdown li:last-child a{
    border-bottom: none;
}

.nav-bar li:hover a{
    background-color: darkcyan;
    color: white !important;
}

.nav-bar li:first-child:hover a{
    border-radius: 3px 0 0 3px;
}

.nav-bar li ul.dropdown li:hover a{
    background-color: black;
}

.nav-bar li ul.dropdown li:first-child:hover a {
   border-radius: 0;
}

.nav-bar li:hover .arrowdown {
    border-top: 5px solid black;
}

.arrowdown{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position: relative;
    top: 15px;
    left: -5px;
    content: "";
}

@media only screen and (max-width:900px){
    .nav-bar{
        background-color: white;
        width: 200px;
        height: 100%;
        display: block;
        position: fixed;
        left: -200px;
    }

    .nav-bar.visible{
        left:0px;
        transition: left 0.3s ease;
    }

    .nav-mobile{
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 50px;
        margin: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #03A9F4;
        padding: 120px 0 0 10px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    }
    .menu-icon{
        cursor: pointer;
    }

    .menu-icon span{
        height: 2px;
        background-color: white;
        margin: 5px;
        display: block;
        width: 20px;
    }
    .nav-bar ul {
        padding-top: 50px;
    }
    .nav-bar li {
        display: block;
    }

    .nav-bar li a{
        display: block;
        color: grey;
        font-weight: 600;
    }
    .nav-bar li:first-child:hover a{
        border-radius: 0;
    }
    .nav-bar li ul.dropdown {
        position: relative;
    }
    .nav-bar li ul.dropdown li a{
        background-color: #2980b9 !important;
        border-bottom: none;
        color: white !important;
    }

    .nav-bar li:hover a{
        background-color: #03A9F4;
        color: white !important;
    }

    .nav-bar li ul.dropdown li:hover a{
        background-color: rgba(0,0,0,0.1) !important;
        color: white !important;
    }
    .nav-bar li ul.dropdown li a{
        padding: 10px 10px 10px 30px;
    }

    .nav-bar li:hover .arrowdown {
        border-top: 5px solid white;
    }

    .arrow-down{
        border-top: 5px solid grey;
        position: absolute;
        top: 20px;
        right: 10px;
    }
}